/*
 * @Author: Eliot.Austin-Forbes 
 * @Date: 2021-10-19 17:15:54 
 * @Last Modified by: Eliot.Austin-Forbes
 * @Last Modified time: 2021-10-19 17:48:13
 */

.planet
  perspective: 200vmin
  transform-style: preserve-3d
  width: 40vmin
  height: 40vmin
  top: 5vmin
  left: 5vmin

.planet:hover
  .sphere
    animation-play-state: paused

.planet::before
  content: ''
  position: absolute
  width: 100%
  height: 100%
  top: 0%
  left: 0%
  background: rgb(91, 161, 214)
  background: radial-gradient(circle farthest-corner at 3% 0%, #c5d4f1 10%, rgb(91, 161, 214) 60%)
  border-radius: 50%
  transform: translateZ(1vmin)

.sphere
  transform-style: preserve-3d
  position: absolute
  animation: rotate 5s infinite linear
  transform: rotateY(200deg) rotateX(0deg)
  width: 100%
  height: 100%
  transform-origin: 50% 50%
  top: 0
  left: 0

.hemisphere
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  transform-style: preserve-3d
  transform-origin: 50% 50%
  transform: rotateX(90deg)

.hemisphere:nth-child(2)
  transform: rotateX(-90deg)

.island
  position: absolute
  width: 20vmin
  height: 20vmin
  transform-style: preserve-3d
  transform-origin: 50% 0
  top: 50%
  left: 10vmin

.island
  .land
    background-color: rgb(91, 214, 171)

.island--ice
  .land
    background-color: rgb(157, 241, 247)

.plate
  width: 50%
  height: 50%
  position: absolute
  left: 50%
  top: 50%
  transform: translate(-50%,-50%)
  .land
    width: 100%
    height: 100%
    position: absolute
    border-radius: 50%

@mixin transform-z-tilt($tilt: 0, $i)
  transform: rotateY(#{$tilt}deg) translate(-50%, -50%) translateZ(calc(-2.4vmin + #{$i}vmin * 0.05 * 2.4))

@for $i from 1 through 25
  // z-elevations and island tilts
  .island
    .plate:nth-child(#{$i})
      @if $i % 2 == 0
        @include transform-z-tilt($tilt: -1, $i: $i)
      @else
        @include transform-z-tilt($tilt:  1, $i: $i)
  .island--no_tilt
    .plate:nth-child(#{$i})
      @include transform-z-tilt($i: $i)
  // size tailoring
  .plate:nth-child(#{$i})
    width: calc(100% - (#{$i * $i * 0.12}%))
    height: calc(100% - (#{$i * $i * 0.12}% ))

@keyframes rotate
  0%
    transform: rotateZ(-15deg) rotateX(0deg) rotateY(0deg)
    // transform: rotateX(0deg) rotateY(0deg)
  100%
    transform: rotateZ(-15deg) rotateX(0deg) rotateY(360deg)
    // transform: rotateX(0deg) rotateY(360deg)
