.carousel__project
  padding: 2vmin
  p
    color: white
    font-size: 1.5vmin
  h1
    margin-bottom: 28%
  .carousel__project__technologies
    display: flex
    justify-content: center
    width: 100%
    gap: 2vmin
    margin: 1vmin 0
    > img
      max-width: 4vmin
      max-height: 4vmin
.carousel__projects--blurb
  .carousel
    height: 100%

.computer__projects
  .items
    display: inherit
