@use "sass:math"
@import 'src/variables.module.sass'
  
$slides-diameter: 90vw
$slides-radius: math.div($slides-diameter, 2)
$interval: math.div(360deg, 5)

.Slides
  height: $slides-diameter
  width: $slides-diameter
  position: absolute // without this, there is some locking to the viewport and distortion of the vmin values along different axes
  // transform: rotate(math.abs($interval - 180deg))
  transform: rotate(35deg)
  left: 18vw
  @for $i from 1 through 5
    .Slide:nth-child(#{$i})
      $hypoteneuse: $slides-radius
      $x: $slides-radius * math.cos($i * $interval)
      $y: $slides-radius * math.sin($i * $interval)
      transform:  translate(calc(-50% + $x), calc(-50% + $y)) rotate($i * $interval - 180deg) scale(0.49)

$slide-scale: 0.4
.Slide
  width: 100%
  position: absolute
  left: 50%
  top: 50%
  padding-bottom: 75%
  background-color: $light-color
  h2
    font-size: 6vmin
    position: absolute
  > *
    position: absolute
    height: 100%
    width: 100%
    display: flex
    justify-content: center
    align-items: center

