@use "sass:math"

// Arbitrary values
$layers-per-island: 30 // number of divs to stack on top of one another when creating an islanbd
$total-possible-random-positions: 160 // number of (x,y) positions to pick from when placing land
$planet-diameter: 40
$island-diameter: 28

// Calculations
$planet-radius: math.div($planet-diameter, 2)
$planet-radius-squared: math.pow($planet-radius, 2)

$quadrant-boundary: math.div($total-possible-random-positions, 4) // x-y quadrant limits based on quarters of the total random possible positions
$first-quadrant-limit: $quadrant-boundary * 1
$second-quadrant-limit: $quadrant-boundary * 2
$third-quadrant-limit: $quadrant-boundary * 3

$planets: ("earth": (("africa": "b"), "europe"))

@debug $planets

:export
  LAYERS_PER_ISLAND: $layers-per-island
  // EARTH: map-get($planets, "earth")
