@use "sass:math"
@import "src/Effects.sass"
@import 'src/variables.module.sass'
@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap')

body
  background-color: $base-color
  #root
    height: 100%
    .Portfolio-Site
      height: 8000px
      &__Layout
        width: 100%
        height: 100%
        position: fixed
      &__Left, &__Right
        position: relative
        height: 100%
        width: 50%
        float: left
        display: flex
        align-items: center
      &__Left
        flex-direction: column
        justify-content: space-around
