@import url("https://fonts.googleapis.com/css2?family=Allura&display=swap");

.Portfolio-Site {
  font-size: 48px;
  margin: 0 auto;
  position: relative;
  max-width: 1344px;
  text-align: center;
}

.Portfolio-Site__Header {
  display: flex;
  justify-content: center;
}
.Portfolio-Site__Header > * {
  text-align: left;
}
