.slide-out-shadow
  animation: text-shadow 0.3s linear forwards

@keyframes text-shadow
  0%
    text-shadow: 0px 0px black
  100%
    text-shadow: -16px 14px black

@keyframes shake
  10%, 90%
    transform: translate3d(-1px, 0, 0)
  20%, 80%
    transform: translate3d(2px, 0, 0)
  30%, 50%, 70%
    transform: translate3d(-4px, 0, 0)
  40%, 60%
    transform: translate3d(4px, 0, 0)
