//- template.pug
<head>
<link rel="stylesheet" type="text/css" href="index.css" />
<link rel='icon' href='favicon.ico' type='image/x-icon'/ >
</head>
<div class="divvy">asdasd</div>
- var n = 1;
.scene
  .sphere
    .hemisphere
      while n < 11
        .face
        - n++
    .hemisphere
      while n < 21
        .face
        - n++