<link rel="stylesheet" type="text/css" href="app.sass" />

.Earth
  .Earth__Earth-Container
    .Planet--Earth
      - var planetDiameter = 42;
      - var earth = [{name: "africa", "layers": 20, "diameter": 26 * (50 / 42), "rotation": -8, "z-rotation": 14, "position": 10, components: 1}];
      .Island
        each continent in earth
          - var layers = continent.layers - 1;
          while layers > 0
            - layers--
            .Plate
              .surface
                - var components = continent.components;
                while components > 0
                  - components--
                    .Land
