<head>
<link rel="stylesheet" type="text/css" href="App.sass" />
</head>
<div class="Earth">
  <div class="Earth__Earth-Container">
    <div class="Planet--Earth">
      .island
    </div>
  </div>
</div>


//- - var n = 1;
//- .scene
//-   .sphere
//-     .hemisphere
//-       while n < 11
//-         .face
//-         - n++
//-     .hemisphere
//-       while n < 21
//-         .face
//-         - n++